In [1]:
# 6009. 출력 예시 : a
# 변수에 문자 1개를 저장한 후
# 변수에 저장되어 있는 문자를 그대로 출력해보자.

a = input()
print(a)

a
a

In [3]:
# 6010. 출력 예시 : 15
# 변수에 정수값을 저장한 후 정수로 변환하여 출력해보자.

a = int(15)
a = input()
print(a)

15

In [4]:
# 6011. 출력 예시 : 1.414213
# 변수에 실수값을 저장한 후
# 변수에 저장되어 있는 값을 그대로 출력해보자.

a = float(1.414213)
a = input()
print(a)

1.414213
1.414213

In [ ]:
# 6012. 출력 예시 : 1
#                   2
# 줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

a = int(1)
a = input()
print(a)

b = int(2)
b = input()
print(b)

In [ ]:
# 6013. 출력 예시 : b
#                   a
# 줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자.

a = input()
b = input()
print(b)
print(a)

In [ ]:
# 6014. 출력 예시 : 0.1
               # 0.1
               # 0.1
# 실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력해보자.

a = int(0.1)
a = input()
print(a)
print(a)
print(a)

In [ ]:
# 6015. 출력 예시 : 1
               # 2
# 실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력해보자.

a = int(1)
b = int(2)
a, b = input().split()
print(a)
print(b)

In [12]:
# 6016. 출력 예시 : b a
# 공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.

a, b = input().split()
print(b, a)

a, b
b a,

In [13]:
# 6017. 출력 예시 : computer science computer science computer science
# 정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력해보자.

a = 'computer science'
a = input()
print(a, a, a)

computer science
computer science computer science computer science

In [ ]:
# 6018. 출력 예시 : 3:16
# 24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.

a = int(3)
b = int(16)
a, b = input().split(":")
print(a, b, sep=":")

In [ ]:
# 6019. 입력 예시 : 2020.3.4
#       출력 예시 : 4-3-2020
# "연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

a = int(2020)
b = int(3)
c = int(4)
a, b, c = input().split(".")
print(c, b, a, sep="-")

In [ ]:
# 6020. 입력 예시 : 000907-1121112
#       출력 예시 : 0009071121112
# 왼쪽 6자리는 생년월일(YYMMDD)이고, 오른쪽 7자리는 성별,출생지역,확인코드로 구성되어있다.
# 주민번호를 입력받아 형태를 바꿔 출력해보자.

a, b = input().split('-')
print(a, b, sep='')

In [ ]:
# 6021. 입력 예시 : Hello
#       출력 예시 : H
                  # e
                  # l
                  # l
                  # o
                
# 알파벳과 숫자로 이루어진 단어 1개가 입력된다.
# 입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다.

Hello = input()
print(Hello[0])
print(Hello[1])
print(Hello[2])
print(Hello[3])
print(Hello[4])

In [17]:
# 6022. 입력 예시 : 200304
#       출력 예시 : 20 03 04
                
# 6자리의 연월일(YYMMDD)을 입력받아 나누어 출력해보자.
a = 200304
a = input()
print(a[0:2], a[2:4], a[4:6])

200304
2

In [ ]:
# 6023. 입력 예시 : 17:23:57
#       출력 예시 : 23
                
# 시:분:초 형식으로 시간이 입력될 때 분만 출력해보자.
a, b, c = input().split(':')
print(b)

In [ ]:
# 6024. 입력 예시 : hello world
#       출력 예시 : helloworld
                
# 알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아
# 순서대로 붙여 출력하는 프로그램을 작성해보자.
a, b = input().split()
c = a+b
print(c)